$body-color: #222;

$color-loading-text: $body-color;
$color-loading-background: mix(white, $color-loading-text, 87.5%);

$color-success-text: darken(green, 2%);
$color-success-background: mix(white, $color-success-text, 87.5%);

$color-error-text: darken(red, 20%);
$color-error-background: mix(white, $color-error-text, 87.5%);

$color-tooltip-background: $color-loading-background;
