@import '_vars';

.ClearCurrentSchedule {
	margin-top: 12px;

	.confirm-text {
		color: $color-error-text;
		font-size: 90%;
		margin-bottom: 6px;
	}
	
	button {
		cursor: pointer;
		padding: 3px 6px;
		margin-right: 4px;
		font-size: 85%;
		background: $color-error-background;
		color: $color-error-text;
		border: 1px solid mix($color-error-text, $color-error-background, 50%);
		border-radius: 3px;

		&:hover {
			background: mix($color-error-text, $color-error-background, 10%);
		}

		&.cancel, &.dismiss {
			background: $color-loading-background;
			color: $color-loading-text;
			border: 1px solid mix($color-loading-text, $color-loading-background, 50%);

			&:hover {
				background: mix($color-loading-text, $color-loading-background, 10%);
			}
		}
	}

	&.error {
		background: $color-error-background;
		color: $color-error-text;
		padding: 8px 4px 8px 12px;
		display: inline-block;

		button.dismiss {
			margin-left: 1em;
		}
	}
}
