.ControllerStatus {
	$height: 24px;
	$height-error: 40px;
	line-height: $height;

	$gridicon-size: 24px;
	$gridicon-margin-left: -3px;
	$gridicon-margin-right: 6px;

	.gridicon {
		float: left;
		$margin-y: ($height - $gridicon-size) / 2;
		margin: $margin-y $gridicon-margin-right $margin-y $gridicon-margin-left;
	}

	&.error {
		.gridicon {
			$margin-y: ($height-error - $gridicon-size) / 2;
			margin: $margin-y $gridicon-margin-right $margin-y $gridicon-margin-left;
		}
		.line {
			line-height: $height-error / 2;
		}
	}
}
