.ControllerStatus {
	position: relative;
	$gridicon-size: 24px;

	.gridicon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.content {
		padding-left: $gridicon-size + 6px;
		margin: 4px 0;
	}

	.line {
		margin: 8px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
