@import '_vars';

.Schedule {
	.step {
		float: left;
		display: table-column;

		&.completed {
			background: $color-success-background;
		}
		&.in-progress {
			background: mix(white, yellow, 75%);
		}
		&.future {
			font-style: italic;
		}
	}

	.cell {
		width: 40px;
		padding-right: 3px;
		text-align: right;
		font-size: 15px;
		line-height: 19px;

		&.status.completed {
			color: green;
		}
		&.status.in-progress {
			font-size: 85%;
			color: mix(black, yellow, 50%);
		}
	}

	.header {
		.cell {
			font-weight: bold;
			width: 7em;
			text-align: left;
			padding: 0;
		}
	}
	
	.clear {
		clear: both;
	}
}
