@import '_vars';

.SectionBody {
	padding: 8px;
	margin: 0 12px 8px;

	&.loading {
		background: $color-loading-background;
		color: $color-loading-text;
	}

	&.success {
		background: $color-success-background;
		color: $color-success-text;
	}

	&.error {
		background: $color-error-background;
		color: $color-error-text;
	}
}
