.TemperatureChart {
	position: relative;

	h1 {
		$gridicon-size: 24px;
		$font-size: 20px;

		font-size: $font-size;
		.gridicon {
			vertical-align: middle;
			position: relative;
			top: ($font-size - $gridicon-size) / 2;
			margin-right: 4px;
		}
	}

	@mixin tooltip-styles() {
		position: absolute;
		background: #ddd;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 10px;
		margin: -15px 10px 0 10px;
	}

	.rd3__tooltip {
		position: fixed;
		z-index: -10;
		// top, left, display: set in jsx
		.tip {
			@include tooltip-styles();
			width: 8em;
		}
	}

	.status {
		@include tooltip-styles();
		right: 50%;
		top: 90px;
	}
}
