@import '_vars';

.TemperatureChart {
	position: relative;

	@mixin tooltip-styles() {
		position: absolute;
		background: $color-tooltip-background;
		border: 1px solid $color-tooltip-background;
		border-radius: 4px;
		padding: 10px;
		margin: -15px 10px 0 10px;
	}

	.rd3__tooltip {
		position: fixed;
		z-index: -10;
		// top, left, display: set in jsx
		.tip {
			@include tooltip-styles();
			width: 9em;
		}
	}

	.rd3-legend-chart {
		.container {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
		}
		.chart {
			display: block;
			width: 100%;
			height: 100%;
		}
		.legend {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -10;
		}
	}

	.status {
		@include tooltip-styles();
		$status-width: 220px;
		width: $status-width;
		margin-left: -$status-width / 2;
		left: 50%;
		top: 100px;
	}
}
